
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
body {
  padding: 0;
  margin: 0;
  background-color: #F2F6FE;
  box-sizing: border-box;
}
h3, ul {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: #1a1a1a
}

.panel {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  border-radius: 14px;
  overflow: hidden;
  background-color: #fff;

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 30px;
  }

  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
}
.container {
  display: flex;
}

.column {
  width: 100%;
  overflow: hidden;
  // &:not(:last-child) {
  //   border-right: 1px solid #ececec;
  // }
  &__title {
    padding: 20px;
    background-color: #f7f7f7;
  }

  &__item {
    list-style: none;
    border: 1px solid #bbbbbb;
    padding: 10px;
  }
}
